body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 500px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  /* color: blue; */
  width: 100%;
  margin-bottom: 10px;
  border-color: 1px solid #5f9341;
}

button {
  background-color: #5f9341;
  border: none;
  width: 160px;
  /* font-weight: bold; */
  color: white;
  border: 1px solid #5f9341;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover{
  background-color: white;
  color: #5f9341;
}
#delete-btn{
  background-color: white;
  border: none;
  width: 160px;
  /* font-weight: bold; */
  color: #5f9341;
  border: 1px solid #5f9341;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}


#delete-btn:hover{
  background-color: #5f9341;
  color: white;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li a {
  /* text-decoration: none; */
  /* font-size: 22px; */
  padding-left: 0;
  color: #5f9341;
  /* color: black; */
}
